* {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    border-radius: 10px;
    height: 300px;
    flex: 1 0 300px;
}

section :hover {
    border-radius: 10px;
    background-image: linear-gradient(rgb(0, 255, 128),
        rgb(0, 0, 128));
    color: rgb(0, 0, 128);
    height: 300px;
}

.mint {
    background: rgb(128, 0, 0);
}

.teal1 {
    background: rgb(128, 0, 128);
}

.teal2 {
    background: rgb(128, 0, 255);
}

.navy {
    color: white;
    background: rgb(128, 0, 0);
    display: none;
}

.pink {
    background: rgb(128, 128, 0);
}

.purple1 {
    background: rgb(128, 128, 128);
}

.purple2 {
    background: rgb(128, 128, 255);
}




.orange1 {
    background: rgb(128, 128, 128);
    display: none;
    
}



.orange2 {
    background: rgb(40, 32, 32);
    /* display: none; */
}

.yellow {
    background: rgb(128, 255, 0);
}

.grass1 {
    background: rgb(128, 255, 128);
}

.grass2 {
    background: rgb(128, 255, 255);
}

.blueblack {
    background: rgb(32, 32, 40);
}

.light {
    background: rgb(255, 248, 224);
}

.lightdark {
    background: rgb(32, 31, 28);
}

h1 {
    color:rgb(0, 255, 128);
    background: rgb(0, 0, 128);
    border-radius: 10px;
}

img {
    width: 100%;
}