/* Second layer */
#blackGreen {
    background: rgb(0, 85, 43);
}

#blackTeal {
    background: rgb(0, 43, 43);
}

#blackBlue {
    background: rgb(0, 0, 43);
}

#blackGrass {
    background: rgb(43, 85, 43);
}

#blackGray {
    background: rgb(43, 43, 43);
}

#blackPurple {
    background: rgb(43, 0, 43);
}

#blackYellow {
    background: rgb(85, 85, 43);
}

#blackOrange {
    background: rgb(85, 43, 43);
}

#blackPink {
    background: rgb(85, 0, 43);
}

/* Second layer gray */
#gray #blackGreen {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blackTeal {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blackBlue {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blackGrass {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blackGray {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blackPurple {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blackYellow {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blackOrange {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blackPink {
    border-color: rgba(0, 0, 0, 0);
}