/* Third layer */
#pinkBlack {
    background: rgb(170, 0, 85);
}

#pinkOrangeBlack {
    background: rgb(170, 43, 85);
}

#orangeBlack {
    background: rgb(170, 85, 85);
}

#orangeYellowBlack {
    background: rgb(170, 128, 85);
}

#yellowBlack {
    background: rgb(170, 170, 85);
}

#yellowGrassBlack {
    background: rgb(128, 170, 85);
}

#grassBlack {
    background: rgb(85, 170, 85);
}

#grassGreenBlack {
    background: rgb(43, 170, 85);
}

#greenBlack {
    background: rgb(0, 170, 85);
}

#greenTealBlack {
    background: rgb(0, 128, 85);
}

#tealBlack {
    background: rgb(0, 85, 85);
}

#tealBlueBlack {
    background: rgb(0, 43, 85);
}

#blueBlack {
    background: rgb(0, 0, 85);
}

#bluePurpleBlack {
    background: rgb(43, 0, 85);
}

#purpleBlack {
    background: rgb(85, 0, 85);
}

#purplePinkBlack {
    background: rgb(128, 0, 85);
}

/* Third layer gray */
#grayBlack {
    background: rgb(85, 85, 85);
}

#grayPinkBlack {
    background: rgb(128, 43, 85);
}

#grayOrangeBlack {
    background: rgb(128, 85, 85);
}

#grayYellowBlack {
    background: rgb(128, 128, 85);
}

#grayGrassBlack {
    background: rgb(85, 128, 85);
}

#grayGreenBlack {
    background: rgb(43, 128, 85);
}

#grayTealBlack {
    background: rgb(43, 85, 85);
}

#grayBlueBlack {
    background: rgb(43, 43, 85);
}

#grayPurpleBlack {
    background: rgb(85, 43, 85);
}

/* Third layer gray */
#gray #pinkBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pinkOrangeBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeYellowBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowGrassBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassGreenBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenTealBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealBlueBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blueBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #bluePurpleBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purplePinkBlack {
    border-color: rgba(0, 0, 0, 0);
}

/* Third layer gray gray */
#gray #grayBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayPinkBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayOrangeBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayYellowBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayGrassBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayGreenBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayTealBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayBlueBlack {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayPurpleBlack {
    border-color: rgba(0, 0, 0, 0);
}