/* Fourth layer */
#green {
    background: rgb(0, 255, 128);
}

#greenTeal {
    background: rgb(0, 213, 128);
}

#tealGreen {
    background: rgb(0, 170, 128);
}

#teal {
    background: rgb(0, 128, 128);
}

#tealBlue {
    background: rgb(0, 85, 128);
}

#blueTeal {
    background: rgb(0, 43, 128);
}

#blue {
    background: rgb(0, 0, 128);
}

#bluePurple {
    background: rgb(43, 0, 128);
}

#purpleBlue {
    background: rgb(85, 0, 128);
}

#purple {
    background: rgb(128, 0, 128);
}

#purplePink {
    background: rgb(170, 0, 128);
}

#pinkPurple {
    background: rgb(213, 0, 128);
}

#pink {
    background: rgb(255, 0, 128);
}

#pinkOrange {
    background: rgb(255, 43, 128);
}

#orangePink {
    background: rgb(255, 85, 128);
}

#orange {
    background: rgb(255, 128, 128);
}

#orangeYellow {
    background: rgb(255, 170, 128);
}

#yellowOrange {
    background: rgb(255, 213, 128);
}

#yellow {
    background: rgb(255, 255, 128);
}

#yellowGrass {
    background: rgb(213, 255, 128);
}

#grassYellow {
    background: rgb(170, 255, 128);
}

#grass {
    background: rgb(128, 255, 128);
}

#grassGreen {
    background: rgb(85, 255, 128);
}

#greenGrass {
    background: rgb(43, 255, 128);
}

/* Middle fourth layer gray */
#tealGray {
    background: rgb(43, 128, 128);
}

#grayTeal {
    background: rgb(85, 128, 128);
}

#purpleGray {
    background: rgb(128, 43, 128);
}

#grayPurple {
    background: rgb(128, 85, 128);
}

#orangeGray {
    background: rgb(213, 128, 128);
}

#grayOrange {
    background: rgb(170, 128, 128);
}

#grassGray {
    background: rgb(128, 213, 128);
}

#grayGrass {
    background: rgb(128, 170, 128);
}

#greenGray {
    background: rgb(43, 213, 128);
}
#grayGreen {
    background: rgb(85, 170, 128);
}

#blueGray {
    background: rgb(43, 43, 128);
}

#grayBlue {
    background: rgb(85, 85, 128);
}

#pinkGray {
    background: rgb(213, 43, 128);
}

#grayPink {
    background: rgb(170, 85, 128);
}

#yellowGray {
    background: rgb(213, 213, 128);
}

#grayYellow {
    background: rgb(170, 170, 128);
}

/* Middle fourth layer */
#grassTeal {
    background: rgb(85, 213, 128);
}

#tealGrass {
    background: rgb(43, 170, 128);
}

#tealPurple {
    background: rgb(43, 85, 128);
}

#purpleTeal {
    background: rgb(85, 43, 128);
}

#purpleOrange {
    background: rgb(170, 43, 128);
}

#orangePurple {
    background: rgb(213, 85, 128);
}

#orangeGrass {
    background: rgb(213, 170, 128);
}

#grassOrange {
    background: rgb(170, 213, 128);
}

/* Fourth layer gray */
#gray #green {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenTeal {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealGreen {
    border-color: rgba(0, 0, 0, 0);
}

#gray #teal {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealBlue {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blueTeal {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blue {
    border-color: rgba(0, 0, 0, 0);
}

#gray #bluePurple {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleBlue {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purple {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purplePink {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pinkPurple {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pink {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pinkOrange {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangePink {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orange {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeYellow {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowOrange {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellow {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowGrass {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassYellow {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grass {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassGreen {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenGrass {
    border-color: rgba(0, 0, 0, 0);
}

/* Middle fourth layer gray gray */
#gray #gray {
    border-color: rgba(0, 0, 0, 0.25);
}

#gray #tealGray {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayTeal {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleGray {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayPurple {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeGray {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayOrange {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassGray {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayGrass {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenGray {
    border-color: rgba(0, 0, 0, 0);
}
#gray #grayGreen {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blueGray {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayBlue {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pinkGray {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayPink {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowGray {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayYellow {
    border-color: rgba(0, 0, 0, 0);
}

/* Middle fourth layer */
#gray #grassTeal {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealGrass {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealPurple {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleTeal {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleOrange {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangePurple {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeGrass {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassOrange {
    border-color: rgba(0, 0, 0, 0);
}