/* Fifth layer */
#pinkWhite {
    background: rgb(255, 85, 170);
}

#pinkOrangeWhite {
    background: rgb(255, 128, 170);
}

#orangeWhite {
    background: rgb(255, 170, 170);
}

#orangeYellowWhite {
    background: rgb(255, 213, 170);
}

#yellowWhite {
    background: rgb(255, 255, 170);
}

#yellowGrassWhite {
    background: rgb(213, 255, 170);
}

#grassWhite {
    background: rgb(170, 255, 170);
}

#grassGreenWhite {
    background: rgb(128, 255, 170);
}

#greenWhite {
    background: rgb(85, 255, 170);
}

#greenTealWhite {
    background: rgb(85, 213, 170);
}

#tealWhite {
    background: rgb(85, 170, 170);
}

#tealBlueWhite {
    background: rgb(85, 128, 170);
}

#blueWhite {
    background: rgb(85, 85, 170);
}

#bluePurpleWhite {
    background: rgb(128, 85, 170);
}

#purpleWhite {
    background: rgb(170, 85, 170);
}

#purplePinkWhite {
    background: rgb(213, 85, 170);
}

/* Fifth layer gray */
#grayWhite {
    background: rgb(170, 170, 170);
}

#grayPinkWhite {
    background: rgb(213, 128, 170);
}

#grayOrangeWhite {
    background: rgb(213, 170, 170);
}

#grayYellowWhite {
    background: rgb(213, 213, 170);
}

#grayGrassWhite {
    background: rgb(170, 213, 170);
}

#grayGreenWhite {
    background: rgb(128, 213, 170);
}

#grayTealWhite {
    background: rgb(128, 170, 170);
}

#grayBlueWhite {
    background: rgb(128, 128, 170);
}

#grayPurpleWhite {
    background: rgb(170, 128, 170);
}

/* Fifth layer */
#gray #pinkWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pinkOrangeWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeYellowWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowGrassWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassGreenWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenTealWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealBlueWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blueWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #bluePurpleWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purplePinkWhite {
    border-color: rgba(0, 0, 0, 0);
}

/* Fifth layer gray gray */
#gray #grayWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayPinkWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayOrangeWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayYellowWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayGrassWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayGreenWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayTealWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayBlueWhite {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayPurpleWhite {
    border-color: rgba(0, 0, 0, 0);
}