/* Sixth layer */
#whiteGreen {
    background: rgb(170, 255, 213);
}

#whiteTeal {
    background: rgb(170, 213, 213);
}

#whiteBlue {
    background: rgb(170, 170, 213);
}

#whiteGrass {
    background: rgb(213, 255, 213);
}

#whiteGray {
    background: rgb(213, 213, 213);
}

#whitePurple {
    background: rgb(213, 170, 213);
}

#whiteYellow {
    background: rgb(255, 255, 213);
}

#whiteOrange {
    background: rgb(255, 213, 213);
}

#whitePink {
    background: rgb(255, 170, 213);
}

/* Sixth layer */
#gray #whiteGreen {
    border-color: rgba(0, 0, 0, 0);
}

#gray #whiteTeal {
    border-color: rgba(0, 0, 0, 0);
}

#gray #whiteBlue {
    border-color: rgba(0, 0, 0, 0);
}

#gray #whiteGrass {
    border-color: rgba(0, 0, 0, 0);
}

#gray #whiteGray {
    border-color: rgba(0, 0, 0, 0);
}

#gray #whitePurple {
    border-color: rgba(0, 0, 0, 0);
}

#gray #whiteYellow {
    border-color: rgba(0, 0, 0, 0);
}

#gray #whiteOrange {
    border-color: rgba(0, 0, 0, 0);
}

#gray #whitePink {
    border-color: rgba(0, 0, 0, 0);
}