* {
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px;
    padding: 0px 3px;
    align-items: center;
    justify-content: center;
}

html, body, section, header, div {
    border: None;
    margin: 0px;
    padding: 0px;
}

#gray {
    background: rgb(128, 128, 128);
}

#gray .color {
    border-color: rgba(0, 0, 0, 0);
}

#light {
    background: rgb(255, 255, 255);
}

#dark {
    background: rgb(0, 0, 0);
}

section {
    display: flex;
    flex-wrap: wrap;
}

#dark section {
    border-color: rgb(128, 128, 128);
}

/* div {
    border: None;
    margin: 0px;
    padding: 0px;
} */

section div {
    border: 1px solid black;
    margin: 3px;
}

#dark section div {
    border-color: rgb(128, 128, 128);
}

#buttons {
    border: None;
    margin: 0px;
    padding: 0px;
}

h1 {
    border-radius: 6px;
}

#dark h1 {
    border-color: rgb(128, 128, 128);
    color: rgb(128, 128, 128)
}

.layer {
    height: 240px;
    width: 240px;
    padding: 0px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    border: None;
    margin: 0px;
    padding: 0px;
}

.square {
    background: rgb(128, 128, 128);
    height: 25px;
    width: 25px;
    padding: 0px;
}

#dark .square {
    border-color: rgb(0, 0, 0);
}

#light .square {
    border-color: rgb(255, 255, 255);
}