* {
    text-align: center;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

#gray {
    background: rgb(128, 128, 128);
}

#light {
    background: rgb(255, 255, 255);
}

#dark {
    background: rgb(0, 0, 0);
}

body {
    margin: 3px 0px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#dark section {
    border-color: rgb(128, 128, 128);
}

section div {
    border: 1px solid black;
    margin: 3px;
}

#dark section div {
    border-color: rgb(128, 128, 128);
}

.all div div {
    border-color: rgba(0, 0, 0, 0);
}

.layer {
    padding: 3px;
    border-radius: 6px;
}

.row {
    display: flex;
    border: None;
    margin: 0px;
    padding: 0px;
}

.square {
    background: rgb(128, 128, 128);
    height: 25px;
    width: 25px;
    padding: 0px;
}

#dark .square {
    border-color: rgb(0, 0, 0);
}

#light .square {
    border-color: rgb(255, 255, 255);
}

#gray #trans #gray {
    border-color: rgba(0, 0, 0, 0.125);
}

#graySquare {
    border-color: rgb(0, 0, 0);
}

#light #white {
    border-color: rgba(0, 0, 0, 0.25);
}

#dark #black {
    border-color: rgba(255, 255, 255, 0.25);
}

#buttons {
    border: None;
    margin: 0px;
    padding: 0px;
}

h1, button {
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
}

h1 {
    border-radius: 6px;
}

button {
    background: rgb(191, 191, 191);
    font-size: 12pt;
    border-radius: 6px;
}

button:hover {
    background: linear-gradient(rgb(255, 255, 255), rgb(191, 191, 191));
}

#light button {
    background: rgba(213, 213, 213);
}

#light button:hover {
    background: linear-gradient(rgb(255, 255, 255), rgba(213, 213, 213));
}

#dark button {
    background: rgb(128, 128, 128);
}

#dark button:hover {
    background: linear-gradient(rgb(255, 255, 255), rgba(128, 128, 128));
}

#dark h1 {
    border-color: rgb(128, 128, 128);
    color: rgb(128, 128, 128)
}