/* Fourth layer */
#greenTrans {
    background: rgba(0, 255, 128, 0.5);
}

#greenTealTrans {
    background: rgba(0, 213, 128, 0.5);
}

#tealGreenTrans {
    background: rgba(0, 170, 128, 0.5);
}

#tealTrans {
    background: rgba(0, 128, 128, 0.5);
}

#tealBlueTrans {
    background: rgba(0, 85, 128, 0.5);
}

#blueTealTrans {
    background: rgba(0, 43, 128, 0.5);
}

#blueTrans {
    background: rgba(0, 0, 128, 0.5);
}

#bluePurpleTrans {
    background: rgba(43, 0, 128, 0.5);
}

#purpleBlueTrans {
    background: rgba(85, 0, 128, 0.5);
}

#purpleTrans {
    background: rgba(128, 0, 128, 0.5);
}

#purplePinkTrans {
    background: rgba(170, 0, 128, 0.5);
}

#pinkPurpleTrans {
    background: rgba(213, 0, 128, 0.5);
}

#pinkTrans {
    background: rgba(255, 0, 128, 0.5);
}

#pinkOrangeTrans {
    background: rgba(255, 43, 128, 0.5);
}

#orangePinkTrans {
    background: rgba(255, 85, 128, 0.5);
}

#orangeTrans {
    background: rgba(255, 128, 128, 0.5);
}

#orangeYellowTrans {
    background: rgba(255, 170, 128, 0.5);
}

#yellowOrangeTrans {
    background: rgba(255, 213, 128, 0.5);
}

#yellowTrans {
    background: rgba(255, 255, 128, 0.5);
}

#yellowGrassTrans {
    background: rgba(213, 255, 128, 0.5);
}

#grassYellowTrans {
    background: rgba(170, 255, 128, 0.5);
}

#grassTrans {
    background: rgba(128, 255, 128, 0.5);
}

#grassGreenTrans {
    background: rgba(85, 255, 128, 0.5);
}

#greenGrassTrans {
    background: rgba(43, 255, 128, 0.5);
}

/* Middle fourth layer gray */
#grayTrans {
    background: rgba(128, 128, 128, 0.5);
}

#tealGrayTrans {
    background: rgba(43, 128, 128, 0.5);
}

#grayTealTrans {
    background: rgba(85, 128, 128, 0.5);
}

#purpleGrayTrans {
    background: rgba(128, 43, 128, 0.5);
}

#grayPurpleTrans {
    background: rgba(128, 85, 128, 0.5);
}

#orangeGrayTrans {
    background: rgba(213, 128, 128, 0.5);
}

#grayOrangeTrans {
    background: rgba(170, 128, 128, 0.5);
}

#grassGrayTrans {
    background: rgba(128, 213, 128, 0.5);
}

#grayGrassTrans {
    background: rgba(128, 170, 128, 0.5);
}

#greenGrayTrans {
    background: rgba(43, 213, 128, 0.5);
}
#grayGreenTrans {
    background: rgba(85, 170, 128, 0.5);
}

#blueGrayTrans {
    background: rgba(43, 43, 128, 0.5);
}

#grayBlueTrans {
    background: rgba(85, 85, 128, 0.5);
}

#pinkGrayTrans {
    background: rgba(213, 43, 128, 0.5);
}

#grayPinkTrans {
    background: rgba(170, 85, 128, 0.5);
}

#yellowGrayTrans {
    background: rgba(213, 213, 128, 0.5);
}

#grayYellowTrans {
    background: rgba(170, 170, 128, 0.5);
}

/* Middle fourth layer */
#grassTealTrans {
    background: rgba(85, 213, 128, 0.5);
}

#tealGrassTrans {
    background: rgba(43, 170, 128, 0.5);
}

#tealPurpleTrans {
    background: rgba(43, 85, 128, 0.5);
}

#purpleTealTrans {
    background: rgba(85, 43, 128, 0.5);
}

#purpleOrangeTrans {
    background: rgba(170, 43, 128, 0.5);
}

#orangePurpleTrans {
    background: rgba(213, 85, 128, 0.5);
}

#orangeGrassTrans {
    background: rgba(213, 170, 128, 0.5);
}

#grassOrangeTrans {
    background: rgba(170, 213, 128, 0.5);
}

/* Fourth layer */
#gray #greenTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenTealTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealGreenTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealBlueTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blueTealTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blueTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #bluePurpleTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleBlueTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purplePinkTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pinkPurpleTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pinkTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pinkOrangeTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangePinkTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeYellowTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowOrangeTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowGrassTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassYellowTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassGreenTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenGrassTrans {
    border-color: rgba(0, 0, 0, 0);
}

/* Middle fourth layer gray */
#gray #grayTrans {
    border-color: rgba(0, 0, 0, 0.125);
}

#gray #tealGrayTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayTealTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleGrayTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayPurpleTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeGrayTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayOrangeTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassGrayTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayGrassTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #greenGrayTrans {
    border-color: rgba(0, 0, 0, 0);
}
#gray #grayGreenTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #blueGrayTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayBlueTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #pinkGrayTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayPinkTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #yellowGrayTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grayYellowTrans {
    border-color: rgba(0, 0, 0, 0);
}

/* Middle fourth layer */
#gray #grassTealTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealGrassTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #tealPurpleTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleTealTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #purpleOrangeTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangePurpleTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #orangeGrassTrans {
    border-color: rgba(0, 0, 0, 0);
}

#gray #grassOrangeTrans {
    border-color: rgba(0, 0, 0, 0);
}
